<article>

  <h2>ユーザー情報編集</h2>
  <%= render 'form' %>

  <div class="lower_nav">
    <%= link_to I18n.t('views.messages.back_index'), guides_path %>
    <%= link_to I18n.t('views.messages.back_usershow'), user_path(@user.id) %>
  </div>

</article>
