.guides_index #mv {
  background-image:url("/assets/guide_mv_bg_pc.jpg");
  background-image:image-url("/assets/guide_mv_bg_pc.jpg");
  background-position:10% center;
  background-repeat:no-repeat;
  -moz-background-size:cover;
  background-size:cover;
  padding: 60px 20px;
  text-align: right;
  margin-bottom: 40px;
}
.guides_index #mv .inner_block {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  width: 65%;
  text-align: left;
}
.guides_index #mv .inner_block h3 {
  font-weight: bold;
}
.guides_index #mv .inner_block .text {
  font-weight: bold;
  margin-bottom: 30px;
}
.guides_index #mv .inner_block span {
  font-size: 150%;
  font-weight: bold;
  color: #694a38;
}
.guides_index .create_new_guide {
  text-align: center;
}
.guides_index .create_new_guide a {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.guides_index .create_new_guide a:hover {
  margin-top: 3px;
  border-bottom: 2px solid #ccc100;
  opacity: 1;
}
.guides_index #mv .inner_block .non_login {
  text-align: center;
}
.guides_index #mv .inner_block .non_login p {
  display: inline-block;
  margin-bottom: 10px;
}
.guides_index #mv .inner_block .non_login p a {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 100vh;
  color: #fff;
  background-color: #0357ab;
  border-bottom: 5px solid #013467;
}
.guides_index #mv .inner_block .non_login p a:hover {
  margin-top: 3px;
  border-bottom: 2px solid #013467;
  opacity: 1;
}
@media only screen and (max-width: 1000px){
  .guides_index #mv {
    background-position: 55% center;
  }
  .guides_index #mv .inner_block {
    width: 100%;
  }
}
@media only screen and (max-width: 414px){
  .guides_index #mv {
    padding: 30px 10px;
  }
  .guides_index #mv .inner_block {
    padding: 20px 10px;
  }
}
.guides_index .search_box {
  padding: 20px 10px;
  border: solid 4px #f3f5f6;
  text-align: center;
  margin-bottom: 40px;
}
.guides_index .search_box .example {
  display: inline-block;
  font-size: 14px;
  color: #694a38;
  background: #f5f5dc;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}
.guides_index .search_box .example::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #f5f5dc transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -15px;
}
.guides_index .search_box .example span {
  display: inline-block;
  padding: 5px 10px;
  background: #f5f5f5;
}
.guides_index .search_box form {
  display: inline-block;
  text-align: left;
}
.guides_index .search_box form .actions,
.guides_index .search_box form .fields {
  display: inline-block;
}
.guides_index .search_box form .fields {
  margin-right: 20px;
}
.guides_index .search_box form label {
  font-weight: bold;
}
.guides_index .search_box form span {
  margin-right: 20px;
}
.guides_index .search_box form span:last-child {
  margin-right: 0;
}
.guides_index .search_box .search_reset a {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  color: #212529;
  background-color: #0357ab;
  border: 1px solid #ccc;
  border-radius: 100vh;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}
.guides_index .search_box .search_reset a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
.guides_index ul li {
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.guides_index ul li .img {
  width: 39%;
}
.guides_index ul li .left {
  width: 59%;
}
.guides_index ul li .img img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
}
.guides_index ul li .title {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: solid 3px #cce4ff;
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;
}
.guides_index ul li .title::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}
.guides_index ul li .data_group span {
  display: inline-block;
  margin-right: 20px;
  color: #694a38;
  font-weight: bold;
}
.guides_index ul li .data_group span:last-child {
  margin-right: 0;
}
.guides_index ul li .data_group span::before {
	content:'chevron_right';
	font-family: "Material Icons";
  font-size: 1.8rem;
  vertical-align: middle;
}
.guides_index ul li .show_btn {
  text-align: right;
  margin-top: 20px;
}
.guides_index ul li .show_btn a {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}
.guides_index ul li .show_btn a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
@media only screen and (max-width: 1199px){
  .guides_index .search_box form .actions,
  .guides_index .search_box form .fields {
    display: block;
    text-align: center;
  }
  .guides_index .search_box form .fields {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1000px){
  .guides_index .search_box form span {
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .guides_index .search_box label {
    margin-right: 10px;
  }
  .guides_index .search_box input[type="text"],
  .guides_index .search_box select {
    width: 400px;
  }
}
@media only screen and (max-width: 768px){
  .guides_index .search_box input[type="text"],
  .guides_index .search_box select {
    width: 100%;
  }
  .guides_index .search_box label {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .guides_index ul li .item {
    width: 100%;
  }
  .guides_index ul li .img {
    margin-bottom: 10px;
  }
  .guides_index ul li .img img {
    max-width: initial;
    width: 80%;
  }
}

.guides_show .upper .left {
  width: 39%;
}
.guides_show .upper .right {
  width: 59%;
}
.guides_show .upper .left .img img {
  max-width: 100%;
  height: auto;
}
.guides_show .upper .left .img a {
  position: relative;
}
.guides_show .upper .left .img a::before {
  content:'zoom_in';
	font-family: "Material Icons";
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 5rem;
  color: #fff;
  line-height: 1;
}
.guides_show .upper .left .sns_share {
  margin-top: 20px;
}
.guides_show .upper .left .sns_share .sns_btn {
  display: inline-block;
}
.guides_show .upper .right .data_group .data {
  margin-bottom: 10px;
}
.guides_show .upper .right .data_group span {
  display: inline-block;
  margin-right: 10px;
  color: #694a38;
  font-weight: bold;
}
.guides_show .upper .right .data_group a:hover {
  text-decoration: none;
}
.guides_show .upper .right .data_group span::before {
  content: 'chevron_right';
  font-family: "Material Icons";
  font-size: 1.8rem;
  vertical-align: middle;
}
.guides_show .upper .right .data_group .user a::before {
  content: 'find_in_page';
  font-family: "Material Icons";
  color: #888;
  font-size: 2.6rem;
  line-height: 1;
  vertical-align: middle;
}
.guides_show .upper .right .data_group .favorite a::before {
  content: 'favorite';
  font-family: "Material Icons";
  color: #888;
  font-size: 2.6rem;
  line-height: 1;
  vertical-align: middle;
}
.guides_show .upper .right .data_group .favorite a.favorite_deletion::before {
  color: #e9546b;
}
.guides_show .upper .right .location {
  margin-bottom: 20px;
  border: 2px dashed #c3d825;
  padding: 20px;
}
.guides_show .upper .right .location .address {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.guides_show .upper .right .location .address span {
  display: block;
  font-weight: bold;
}
.guides_show .upper .right .location .address span::before {
  content: 'emoji_flags';
  font-family: "Material Icons";
  color: #c3d825;
  font-size: 3.6rem;
  line-height: 1;
  vertical-align: middle;
}
.guides_show .content {
  background: #fffffc;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.guides_show .pictures {
  justify-content: center;
  flex-wrap: wrap;
}
.guides_show .pictures span {
  padding: 5px;
  position: relative;
}
.guides_show .pictures span img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 150px;
}
.guides_show .pictures span::before {
  content:'zoom_in';
	font-family: "Material Icons";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #fff;
  line-height: 1;
}
.guides_show .pictures span.no_image::before {
  content: none;
}
@media only screen and (max-width: 768px){
  .guides_show .upper .left,
  .guides_show .upper .right {
    width: 100%;
  }
  .guides_show .upper .left {
    margin-bottom: 20px;
  }
}
.guides_post_form table {
  width: 100%;
}
.guides_post_form table th,
.guides_post_form table td {
  padding: 20px 10px;
}
.guides_post_form table tr {
  border-bottom: 1px solid #ccc;
}
.guides_post_form table th {
  vertical-align: top;
}
.guides_post_form table th,
.guides_post_form table th label {
  width: 8em;
  font-weight: bold;
}
.guides_post_form table th .required {
  display: block;
  color: #ff8a84;
  font-weight: bold;
}
.guides_post_form table td input[type="text"],
.guides_post_form table td textarea {
  width: 100%;
  display: block;
}
.guides_post_form table td select {
  display: block;
}
.guides_post_form table td textarea {
  height: 200px;
}
.guides_post_form table td .field {
  margin-bottom: 20px;
}
.guides_post_form table td .field:last-child {
  margin-bottom: 0;
}
.guides_post_form table td label {
  font-weight: bold;
  margin-bottom: 5px;
}
.guides_post_form table td .pictures {
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.guides_post_form table td .pictures span {
  padding: 5px;
  position: relative;
}
.guides_post_form table td .pictures span::before {
  content: "Preview";
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  line-height: 1;
  padding: 3px 5px;
}
.guides_post_form table td .pictures span.picture0::before {
  content: "Preview メイン画像";
}
.guides_post_form table td .pictures span.picture1::before {
  content: "Preview 2";
}
.guides_post_form table td .pictures span.picture2::before {
  content: "Preview 3";
}
.guides_post_form table td .pictures span.picture3::before {
  content: "Preview 4";
}
.guides_post_form table td .pictures span.picture4::before {
  content: "Preview 5";
}
.guides_post_form table td .pictures span img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.guides_post_form table td .pictures_form .picture {
  margin-bottom: 10px;
}
.guides_post_form table td .pictures_form .picture:last-child {
  margin-bottom: 0;
}
.guides_post_form table td .pictures_form .picture .image_flag {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.guides_post_form .actions {
  margin-top: 40px;
  text-align: center;
}
.markdown-body iframe {
  max-width: 100%;
}
@media only screen and (max-width: 768px){
  .guides_post_form table tr,
  .guides_post_form table th,
  .guides_post_form table td {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .guides_post_form table th {
    padding: 0;
  }
  .guides_post_form table th,
  .guides_post_form table th label {
    width: auto;
  }
  .guides_post_form table th .required {
    display: inline-block;
    margin-left: 10px;
  }
  .guides_post_form table td .pictures span img {
      width: 150px;
      height: 100px;
      object-fit: cover;
  }
  .markdown-body iframe {
    width: 100%;
  }
}
