.messages_index .over_ten {
  text-align: center;
  margin-bottom: 20px;
}
.messages_index .over_ten a {
  display: inline-block;
}
.messages_index .over_ten a::before {
  content: 'find_in_page';
  font-family: "Material Icons";
  color: #888;
  font-size: 2.6rem;
  line-height: 1;
  vertical-align: middle;
}
.messages_index .messages {
  margin-bottom: 30px;
}
.messages_index .messages ul {
  max-width: 800px;
  margin: 0 auto;
}
.messages_index .messages ul li {
  justify-content: flex-start;
  margin-bottom: 20px;
}
.messages_index .messages ul li .left {
  padding: 0 10px;
  width: 100px;
}
.messages_index .messages ul li .right {
  max-width: 500px;
}
.messages_index .messages ul li.target_user {
  justify-content: flex-end;
}
.messages_index .messages ul li.target_user .left {
  order: 1;
}
.messages_index .messages ul li .img img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
}
.messages_index .messages ul li .confirmed {
  text-align: center;
}
.messages_index .messages ul li .name,
.messages_index .messages ul li .time {
  display: inline-block;
}
.messages_index .messages ul li .name {
  font-weight: bold;
  color: #694a38;
}
.messages_index .messages ul li .time {
  margin-left: 10px;
  font-size: 1.2rem;
  background: #f5f5f5;
  padding: 3px 10px;
}
.messages_index .messages ul li .body {
  margin-top: 10px;
  background: #f5f5dc;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
}
.messages_index .messages ul li .body::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #f5f5dc transparent transparent;
}
.messages_index .messages ul li.target_user .body::before {
  left: auto;
  right: -10px;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #f5f5dc;
}
.messages_index .message .actions {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 768px){
  .messages_index .messages ul li.target_user .left {
    order: 0;
  }
  .messages_index .messages ul li.target_user {
    justify-content: flex-start;
  }
  .messages_index .messages ul li .left {
    width: 25%;
  }
  .messages_index .messages ul li .right {
    max-width: initial;
    width: 75%;
  }
  .messages_index .messages ul li.target_user .body::before {
    left: -10px;
    right: auto;
    border-width: 10px 20px 10px 0;
    border-color: transparent #f5f5dc transparent transparent;
  }
  .messages_index .message textarea {
    height: 150px;
  }
}
@media only screen and (max-width: 414px){
  .messages_index .messages ul li .item {
    width: 100%;
  }
  .messages_index .messages ul li .left {
    margin-bottom: 10px;
  }
  .messages_index .messages ul li .right {
    text-align: center;
  }
  .messages_index .messages ul li .right .body {
    text-align: left;
  }
  .messages_index .messages ul li .right .body::before {
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f5f5dc transparent;
  }
}
