<article>
  <h2>旅ガイドページ編集</h2>

  <%= render 'form' %>

  <div class="lower_nav">
    <%= link_to I18n.t('views.messages.back_index'), guides_path %>
    <%= link_to I18n.t('views.messages.back_show'), guide_path(@guide.id), data: { "turbolinks" => false } %>
  </div>

</article>
